* {
    margin: 0;
    padding: 0;
}

/* header start */

.header-content {
    padding-left: 240px;
    width: 100%;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
}

.headertitle {
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    font-size: 40px;

}

.header-para-style {
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
}

.button-style {
    display: inline-flex;
    padding: 20px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.button-style:hover {
    background-color: burlywood;
    letter-spacing: 2px;
}

.header-image {
    padding-top: 50px;
    padding-right: 240px;
    width: 635px;
    height: 800px;


}

/* header section end */

/* feature flower section start */



.Feature-flower {
    margin: 100px 150px 30px 150px;

}

.feature-flower-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.feature-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* feature flower pic sec */

.feature-flower-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 140px;
    gap: 25px;
}

.flo-1 {
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-left: 40px;
}

.flo-2 {
    margin-top: 50px;
    margin-left: 20px;
    width: 280px;
    height: 250px;

}

.flo-3 {
    width: 200px;
    height: 330px;
    margin-top: 20px;
    margin-left: 25px;

}

.flower1{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.flower2{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.flower3{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.flower-caption{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-decoration: underline;

}
 /* feature section ended */ 

 /* hot sale section */

 .sale-sec{
    margin-top: 100px;
    width: auto;
    height: 500px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
}

.sale-content{
    text-align: center;
    margin-right: 200px;

}
 .title-sale{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 25px;

 }
 .sale-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    
    
}

.sale-button{
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-weight: 700;
    font-family: Lato;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 25px;
}
.sale-button:hover{
    background-color: blueviolet;
    letter-spacing: 2px;

}
.image sale{
    width: 260px;
    height: 400px;
    margin-top: 30px;
    margin-left: 150px;
}
/* sale ended */

.insatgram-sec{
    margin: 150px 100px 25px 150px;
    width: 1200px;
    height: 580px;
    text-align: center;

}
.insta title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;

}

.instagram-para{
    
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    

}
.instgram-pictures{
    
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;

}

.picture{
    width: 280px;
    height: 350px;
}
/* instagram section end here */

/* deals section here */
.coupon-deal{
    border: 1px solid #FDCEDF;
    margin: 150px 100px 25px 150px;
    width: 1200px;
    height: 380px;  
    /* background-image: url(); */
    background-color: navajowhite;
    background-position: center;
    background-size: cover;
}
.deal-title-coupon{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;
}

.coupon-deal-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.deal-coupon-form{
    margin-top: 25px;
    margin-left: 280px;

}

.deal-coupon-form #email{
    border: 1px solid blueviolet;
    border-radius: 5px;
    width: 450px;
    height: 33px;
    padding: 5px 10px;

}
.deal-coupon-form #submit{
    width: 150px;
    height: 42px;
    background-color: #E55473;
    color: white;
    font-weight: 600;
    font-family: Lato;
    border: 1px solid transparent;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 5px;

}

/* deals section ended here */

/* extra section */

.review{
    border: 1px solid #FDCEDF;
    margin: 150px 100px 25px 150px;
    width: 1200px;
    height: 380px;  
    background-color:pink;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.review-header{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;
}
.review-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* footer section */

.footer {
    width: 100%;
    height: 800px;
    display: flex;
   

}

.foot-p1 {

    color: beige;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.foot-p2 {
    padding: 10px;
    color: beige;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.footer-header {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}

.set-bg {
    background-color: #111010;
}

/* footer section end */